$accent-color: #f78434;
$accent-color-hover: #ff6a00;
$black-color: #000000;
$orange-color: #FBDC4D;
$gray-color: #EFF7FC;
$link: #1A71D2;
$timeline: #E1EEF4;
$unactive-mix: #9EC2D0;
$red-color: #FF543E;
$btn-hover: #FFEB8D;
$btn-active: #F5D22D;
$gray-btn-hover: #D1EDFF;
$gray-btn-active: #B0DCF8;
$overlay-color: #254974;
$form-underline: #E5E5E5;
$form-underline-active: #FF543E;
$form-placeholder: #9D9D9D;
$form-text: black;
$form-placeholder-active: #ECA73F;