.about{
    display: flex;
    justify-content: space-between;

    /* Tablet */
    @media (max-width: 899px) {
        align-items: center;   
    }

    /* Mobile */
    @media (max-width: 767px) {
        flex-direction: column;
    }

    &__content{
        width: 542px;
        padding-top: 19px;

        /* TabletBig */
        @media (max-width: 1139px) {
            width: 420px;
            padding-top: 8px;
        }

        /* Tablet */
        @media (max-width: 899px) {
            width: 354px;           
        }

        /* Mobile */
        @media (max-width: 767px) {
            width: 290px;
            padding-top: unset;
        }
    }

    &__name{
        margin-bottom: 30px;

        /* TabletBig */
        @media (max-width: 1139px) {
            margin-bottom: 20px;
        }

        /* Tablet */
        @media (max-width: 899px) {
            margin-bottom: 10px;
        }

        /* Mobile */
        @media (max-width: 767px) {
            width: 220px;
            margin-bottom: 20px;
        }
    }

    &__text{
        margin-bottom: 30px;

        font-weight: 400;
        font-size: 22px;
        line-height: 1.6;

        /* TabletBig */
        @media (max-width: 1139px) {
            margin-bottom: 28px;

            font-size: 18px;
        }

        /* Tablet */
        @media (max-width: 899px) {
            font-size: 16px;        
        }

        /* Mobile */
        @media (max-width: 767px) {
            display: none;
        }

        p + p{
            margin-top: 15px;
        }
    }

    &__btns{
        display: flex;
        column-gap: 20px;

        /* Tablet */
        @media (max-width: 899px) {
            display: none;  
        }
    }

    &__img{
        position: relative;

        img{
            object-fit: cover;
            object-position: center;
            height: 410px;

            /* TabletBig */
            @media (max-width: 1139px) {
                width: 376px;
                height: 325px;
            }

            /* Tablet */
            @media (max-width: 899px) {
                width: 290px;
                height: 250px;           
            }
        }

        &::after{
            content: "";
            position: absolute;
            width: 475px;
            height: 410px;
            right: -40px;
            bottom: -40px;
            background-color: rgba(255, 255, 255, 0.5);
            z-index: -1;

            /* TabletBig */
            @media (max-width: 1139px) {
                display: none;
            }
        }
    }
}

.about__text-mobile{
    margin-top: 10px;

    @media (min-width: 768px) {
        display: none;
    }
}