.card{
    width: 350px;

    &:hover{
        .card__img::before{
            transform: translateY(0);
        }

        .card__link{
            opacity: 1;
        }
    }

    /* TabletBig */
    @media (max-width: 1139px) {
        width: 270px;   
    }

    /* Tablet */
    @media (max-width: 899px) {
        width: 226px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 290px;
    }

    &__img{
        position: relative;
        overflow: hidden;
        margin-bottom: 16px;

        /* TabletBig */
        @media (max-width: 1139px) {
            margin-bottom: 10px;
        }

        img{
            height: 220px;
            object-fit: cover;
            object-position: center;
    
            /* TabletBig */
            @media (max-width: 1139px) {
                height: 169px;
            }
    
            /* Tablet */
            @media (max-width: 899px) {
                height: 140px;           
            }

            /* Mobile */
            @media (max-width: 767px) {
                height: 180px;;
            }
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            background: linear-gradient(0deg, rgba(255, 221, 85, 0.75), rgba(255, 221, 85, 0.75));

            transform: translateY(100%);
            transition: 0.2s ease-in;
        }

        .card__link{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 14px 20px;

            background-color: red;
            border-radius: 80px;

            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
            color: white;

            opacity: 0;
            transition: 0.2s ease-in;
        }
    }

    &__heading{
        margin-bottom: 6px;

        /* TabletBig */
        @media (max-width: 1139px) {
            margin-bottom: 4px;
        }
    }

    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 1.3;

        /* TabletBig */
        @media (max-width: 1139px) {
            font-size: 14px;
        }
    }

    p + p{
        margin-top: 5px;
    }
}

.card--lg{
    width: 540px;
    
    &:hover{
        .card--lg__img::before{
            transform: translateY(0);
        }

        .card__link{
            opacity: 1;
        }
    }

    /* TabletBig */
    @media (max-width: 1139px) {
        width: 420px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        width: 354px;           
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 290px;
    }

    &__img{
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

        /* Tablet */
        @media (max-width: 899px) {
            margin-bottom: 10px;      
        }


        img{
            height: 370px;
            object-fit: cover;
            object-position: center;
    
            /* TabletBig */
            @media (max-width: 1139px) {
                height: 288px;
            }
    
            /* Tablet */
            @media (max-width: 899px) {
                height: 180px; 
                width: 354px;         
            }
    
            /* Mobile */
            @media (max-width: 767px) {
                height: 180px;
                width: 290px;
            }
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            background: linear-gradient(0deg, rgba(255, 221, 85, 0.75), rgba(255, 221, 85, 0.75));

            transform: translateY(100%);
            transition: 0.2s ease-in;
        }

        .card__link{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 14px 20px;

            background-color: red;
            border-radius: 80px;

            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
            color: white;

            opacity: 0;
            transition: 0.2s ease-in;
        }
    }

    &__heading{
        margin-bottom: 8px;

        /* TabletBig */
        @media (max-width: 1139px) {
            margin-bottom: 6px;
        }

        /* Mobile */
        @media (max-width: 767px) {
            margin-bottom: 4px;
        }
    }

    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 1.3;

        /* TabletBig */
        @media (max-width: 1139px) {
            font-size: 16px;
        }

        /* Tablet */
        @media (max-width: 899px) {
            font-size: 14px;
        }
    }
}

.heading-link{
    &:hover, &:active, &:focus{
        color: $red-color;
    }
}

