.main-link{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    color: $link;

    /* TabletBig */
    @media (max-width: 1139px) {
        font-size: 18px;
    }

    &:visited{
        color: $link;
    }

    &:hover{
        color: $red-color;
    }
}