.overlay{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

    background-color: $overlay-color;
    opacity: 0.8;

    &--active{
        display: block;
    }
}