.header-top{
    position: sticky;
    top: -30px;
    padding-top: 60px;
    padding-bottom: 30px;
    z-index: 9;
    background-color: white;

    /* Tablet */
    @media (max-width: 899px) {
        padding-top: 30px;
        top: 0px;       
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-list{
        display: flex;
        column-gap: 100px;

        /* Tablet */
        @media (max-width: 899px) {
            display: none;         
        }

        /* TabletBig */
        @media (max-width: 1139px) {
            column-gap: 50px;
        }
    }

    &__nav-item{
        & a{
            cursor: pointer;

            font-weight: 600;
            font-size: 20px;
            line-height: 1.3;

            &:hover, &:active, &:focus{
                color: $red-color;
            }

            /* TabletBig */
            @media (max-width: 1139px) {
                font-size: 18px;
            }
        }
    }

    &__links{
        display: flex;
        align-items: center;
        column-gap: 26px;

        &-item{
            img{
                width: 42px;
                height: 42px;
            }

            &:hover, &:active, &:focus{
                opacity: 0.75;
            }
        }

        /* Tablet */
        @media (max-width: 899px) {
            display: none;         
        }
    }
}