.skills{
    padding-bottom: 90px;
    overflow-x: hidden;

    /* TabletBig */
    @media (max-width: 1139px) {
        padding-bottom: 60px;
    }

    /* Tablet */
    @media (max-width: 899px) {
       padding-bottom: 40px;
    }

    &__wrapper{
        display: flex;
        column-gap: 85px;

        /* TabletBig */
        @media (max-width: 1139px) {
            column-gap: 40px;
        }

        /* Tablet */
        @media (max-width: 899px) {
            column-gap: 30px;           
        }

        /* Mobile */
        @media (max-width: 767px) {
            column-gap: unset;
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__heading{
        margin-bottom: 30px;

        /* TabletBig */
        @media (max-width: 1139px) {
            margin-bottom: 20px;
        }
    }

    &__list{
        margin-left: 30px;

        font-weight: 400;
        font-size: 22px;
        line-height: 1.3;

        /* TabletBig */
        @media (max-width: 1139px) {
            margin-left: 27px;

            font-size: 18px;
        }

        /* Tablet */
        @media (max-width: 899px) {
            margin-left: 0px;
            width: 354px;
            
            font-size: 16px;
        }

        /* Mobile */
        @media (max-width: 767px) {
            width: 290px;
        }
    }

    &__item{
        position: relative;
        margin-bottom: 10px;

        &::before{
            content: "";
            position: absolute;
            width: 18px;
            height: 1px;
            top: 15px;
            left: -30px;

            background-color: $black-color;

            /* TabletBig */
            @media (max-width: 1139px) {
                left: -24px;
            }

            /* Tablet */
            @media (max-width: 899px) {
                display: none;         
            }
        }

        &:last-child{
            margin-bottom: 0px;
        }
    }

    // &__col-r{
    //     margin-right: 85px;

    //     /* TabletBig */
    //     @media (max-width: 1139px) {
    //         margin-right: 0px;
    //     }

    //     /* Tablet */
    //     @media (max-width: 899px) {
    //         margin-right: 83px;           
    //     }
    // }

    &__social{
        margin-bottom: 20px;
    }
}